.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  width: 100%;
}

.container form {
  margin-bottom: 20px;
}

.container form > * {
  margin: 5px 0;
}

.container .mat-radio-button {
  margin: 0 5px;
}

.h2 {
  margin: 10px;
}

.section {
  display: flex;
  align-content: center;
  align-items: center;
  margin-top: 20px;
}

.margin {
  margin: 0 10px;
}

.tracking > p {
  margin-right: 50%;
}

mat-form-field {
  width: 100%;
}

mat-radio-button {
  display: inline-flex;
}