
agm-map {
  height: 100vh;
}

a {
  text-decoration: none;
}

.buttons {
  right: 10px;
  bottom: 10px;
  position: absolute;
}

.buttons > button {
  margin-left: 20px;
}

.sidenav-container {
  width: 100vw;
  height: 100vh;
}

.sidenav-content {
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  width: 250px;
}

.sidenav > img {
  width: 100%;
}

.sidenav-menu {
  z-index: 999;
  position: absolute;
  left: 25px;
  top: 25px;
}

.git-link {
  color: #ffffff;
  text-decoration: none;
}

.git-link:hover {
  color: #ff4081;
}

.git-icon {
  padding: 10px 20px 10px 10px;
}

.spacer {
  flex: 1 1 auto;
}