<div class="pixabay">
    <a href="https://pixabay.com/" target="_blank">
        <img src="https://pixabay.com/static/img/logo_square.png" alt="Pixabay">
    </a>

</div>
<agm-map
        [latitude]="lat"
        [longitude]="lng"
        [minZoom]="3"
        [styles]="styles"
        [fullscreenControl]="true"
        [streetViewControlOptions]="streetViewControlOptions"
        [zoomControlOptions]="zoomControlOptions"
        [zoom]="3">
    <agm-marker
            [title]="'ISS'"
            [latitude]="satellite?.lat"
            [longitude]="satellite?.lng"
            [iconUrl]="'assets/img/sat2-mini.png'"
            [openInfoWindow]="true">
        <agm-info-window [isOpen]="true">
            <p>
                <a target="_blank" href="https://www.nasa.gov/mission_pages/station/main/index.html">
                    <strong>{{ 'ISS '}}</strong>
                </a>
            </p>
            <p>
                Current position:
                <strong>{{currentCity ? currentCity : 'Unknown'}}</strong>
            </p>
            LAT: {{lat }}<br/>
            LNG: {{ lng }}
        </agm-info-window>
    </agm-marker>
</agm-map>

<div class="buttons">

    <button mat-fab color="default"
            matTooltip="Get {{ selection === 'photos' ? 'photos' : 'videos'}}"
            [disabled]="!currentCity"
            (click)="getResources()">
        <i class="material-icons">
            {{selection === 'photos' ? 'photo' : 'video_library'}}
        </i>
    </button>
    <button mat-fab color="accent"
            [disabled]="tracking"
            matTooltip="Sync current ISS position"
            aria-label="Sync current ISS position"
            (click)="syncPosition()">
        <i class="material-icons">
            sync
        </i>
    </button>
    <button mat-fab color="primary"
            matTooltip="{{tracking ? 'Stop ': 'Start '}} ISS tracking"
            aria-label="Resume or stop ISS tracking"
            (click)="toggleTracking()">
        <i class="material-icons">
            {{!tracking ? 'play_arrow' : 'pause'}}
        </i>
    </button>
</div>